<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redbox.pics</title>

    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <center> <!-- Yes I use <center>, no you can't stop me. -->
        <h1>Redbox.pics</h1>
        <h3>Images mostly provided by <a href="https://redboxtinkering.com">redboxtinkering.</a>
            Add images by committing it to <a href="https://github.com/redboxphotos/photogallery">the GitHub Index</a>.

        </h3>
        <div id="image-grid">

        </div>
    </center>
</body>
</html>